frontier-app:
  enabled: true
  image:
    repository: raystack/frontier
    pullPolicy: IfNotPresent
    tag: v0.90.0
  container:
    command: ["frontier", "server", "start"]
    livenessProbe:
      grpc:
        port: 8082
    readinessProbe:
      grpc:
        port: 8082
    ports:
      - name: admin-ui
        containerPort: 3000
        protocol: TCP
      - name: connectrpc
        containerPort: 8082
        protocol: TCP
  service:
    type: ClusterIP
    ports:
      - port: 3000
        targetPort: admin-ui
        protocol: TCP
        name: admin-ui
      - port: 8082
        targetPort: connectrpc
        protocol: TCP
        name: connectrpc
    annotations: {}
  ingress:
    enabled: false
    annotations: {}
    hosts:
      - host: frontier.example.com
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                port:
                  number: 8082
  config:
    FRONTIER_SPICEDB_HOST: spicedb.namespace.svc.local
    FRONTIER_SPICEDB_PORT: 50051
    FRONTIER_APP_CONNECT_PORT: 8082
    FRONTIER_LOG_LEVEL: info
    FRONTIER_DB_DRIVER: postgres
    FRONTIER_APP_BILLING_REFRESH_INTERVAL_CUSTOMER: 0
    FRONTIER_APP_BILLING_REFRESH_INTERVAL_SUBSCRIPTION: 0
    FRONTIER_APP_BILLING_REFRESH_INTERVAL_CHECKOUT: 0
    FRONTIER_APP_BILLING_REFRESH_INTERVAL_INVOICE: 0
  secretConfig:
    FRONTIER_DB_URL:
    FRONTIER_SPICEDB_PRE_SHARED_KEY:

frontier-worker:
  enabled: true
  replicaCount: 1
  image:
    repository: raystack/frontier
    pullPolicy: IfNotPresent
    tag: v0.65.0
  container:
    command: ["frontier", "server", "start"]
    livenessProbe:
      grpc:
        port: 8082
    readinessProbe:
      grpc:
        port: 8082
    ports:
      - name: admin-ui
        containerPort: 3000
        protocol: TCP
      - name: connectrpc
        containerPort: 8082
        protocol: TCP
  service:
    enabled: false
  ingress:
    enabled: false
  config:
    FRONTIER_SPICEDB_HOST: spicedb.namespace.svc.local
    FRONTIER_SPICEDB_PORT: 50051
    FRONTIER_APP_CONNECT_PORT: 8082
    FRONTIER_LOG_LEVEL: info
    FRONTIER_DB_DRIVER: postgres
  secretConfig:
    FRONTIER_DB_URL:
    FRONTIER_SPICEDB_PRE_SHARED_KEY:

spicedb:
  enabled: true
  nameOverride: frontier-spicedb
  replicaCount: 2
  image:
    repository: quay.io/authzed/spicedb
    tag: v1.30.1
  secretConfig:
    SPICEDB_GRPC_PRESHARED_KEY:
    SPICEDB_DATASTORE_CONN_URI:
  config:
    SPICEDB_LOG_LEVEL: info
    SPICEDB_DATASTORE_ENGINE:
    SPICEDB_GRPC_ENABLED: "true"
    SPICEDB_HTTP_ENABLED: "true"
    SPICEDB_GRPC_SHUTDOWN_GRACE_PERIOD: "5s"
  container:
    ports:
      - containerPort: 50051
        protocol: TCP
      - containerPort: 8443
        protocol: TCP
    livenessProbe:
      exec:
        command: ["grpc_health_probe", "-v", "-addr=localhost:50051"]
    readinessProbe:
      exec:
        command: ["grpc_health_probe", "-v", "-addr=localhost:50051"]
    command: ["spicedb", "serve"]
  service:
    type: ClusterIP
    ports:
      - port: 80
        name: rest
        targetPort: 8443
        protocol: TCP
      - port: 50051
        name: grpc
        targetPort: 50051
        protocol: TCP
    annotations: {}
  ingress:
    enabled: false
    annotations: {}
    hosts:
      - host: spicedb.example.com
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                port:
                  number: 80
