app:
  image:
    repository: gotocompany/compass
    pullPolicy: Always
    tag: "0.5.0"
  container:
    command:
      - compass
    args:
      - server
      - start
    livenessProbe:
      httpGet:
        path: /ping
        port: tcp
    readinessProbe:
      httpGet:
        path: /ping
        port: tcp

  migration:
    enabled: true
    command:
      - compass
    args:
      - server
      - migrate

  service:
    annotations: {}

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: contour
    hosts:
      - host: compass.example.com
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                # name: backend_01
                port:
                  number: 80

  config:
    COMPASS_SERVICE_PORT: 8080
    COMPASS_SERVICE_GRPC_PORT: 8081
    # COMPASS_SERVICE_HOST: 0.0.0.0
    # COMPASS_STATSD_ENABLED: false
    # COMPASS_STATSD_PREFIX: compass
    # COMPASS_NEWRELIC_ENABLED: false
    # COMPASS_NEWRELIC_APPNAME: compass
    # COMPASS_LOG_LEVEL: info

  secretConfig: {}
    # COMPASS_ELASTICSEARCH_BROKERS: ~
    # COMPASS_STATSD_ADDRESS: ~
    # COMPASS_NEWRELIC_LICENSEKEY: ~
    # COMPASS_DB_HOST: ~
    # COMPASS_DB_PORT: 5432
    # COMPASS_DB_NAME: ~
    # COMPASS_DB_USER: ~
    # COMPASS_DB_PASSWORD: ~
    # COMPASS_DB_SSLMODE: disable
