app:
  image:
    repository: odpf/columbus
    pullPolicy: Always
    tag: "0.1.8"
  container:
    command:
      - columbus
    args:
      - serve
    livenessProbe:
      httpGet:
        path: /ping
        port: tcp
    readinessProbe:
      httpGet:
        path: /ping
        port: tcp

  migration:
    enabled: true
    command:
      - columbus
    args:
      - migrate

  service:
    annotations:
      projectcontour.io/upstream-protocol.h2c: tcp

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: contour
    hosts:
      - host: columbus.example.com
        paths:
          - path: /
            pathType: ImplementationSpecific

  config:
    SERVER_PORT: 8080
    # SERVER_HOST: 0.0.0.0
    # STATSD_ENABLED: false
    # STATSD_PREFIX: columbus
    # LINEAGE_REFRESH_INTERVAL: 30m
    # NEW_RELIC_ENABLED: false
    # NEW_RELIC_APP_NAME: columbus
    # LOG_LEVEL: info

  secretConfig: {}
    # ELASTICSEARCH_BROKERS: ~
    # STATSD_ADDRESS: ~
    # NEW_RELIC_LICENSE_KEY: ~
    # DB_HOST: ~
    # DB_PORT: 5432
    # DB_NAME: ~
    # DB_USER: ~
    # DB_PASSWORD: ~
    # DB_SSL_MODE: disable
