shield-app:
  enabled: true
  image:
    repository: gotocompany/shield
    pullPolicy: Always
    tag: 0.7.0
  container:
    args:
      - serve
    livenessProbe:
      httpGet:
        path: /ping
        port: 5556
    readinessProbe:
      httpGet:
        path: /ping
        port: 5556
    ports:
      - name: tcp
        containerPort: 8080
        protocol: TCP
      - name: proxy
        containerPort: 5556
        protocol: TCP
  podLabels: {}
  service:
    type: ClusterIP
    ports:
      - port: 8080
        targetPort: tcp
        protocol: TCP
        name: tcp
      - port: 5556
        targetPort: proxy
        protocol: TCP
        name: proxy
    annotations: {}
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: contour
    hosts:
      - host: shield.example.com
        paths:
          - path: /admin
            pathType: Prefix
            backend:
              service:
                port:
                  number: 8080
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                port:
                  number: 5556
  config:
    SHIELD_SPICEDB_HOST: spicedb.namespace.svc.local
    SHIELD_SPICEDB_PORT: 50051
  secretConfig:
    SHIELD_DB_URL:
    SHIELD_SPICEDB_PRE_SHARED_KEY:

spicedb:
  enabled: true
  nameOverride: shield-spicedb
  replicaCount: 2
  image:
    repository: quay.io/authzed/spicedb
    tag: v1.2.0
  secretConfig:
    SPICEDB_GRPC_PRESHARED_KEY:
    SPICEDB_DATASTORE_CONN_URI:
  config:
    SPICEDB_LOG_LEVEL: info
    SPICEDB_DATASTORE_ENGINE:
    SPICEDB_GRPC_SHUTDOWN_GRACE_PERIOD: "5s"
  container:
    ports:
      - name: tcp
        containerPort: 50051
        protocol: TCP
    livenessProbe:
      httpGet:
        path: /
        port: 8080
    readinessProbe:
      httpGet:
        path: /
        port: 8080
    command: ["spicedb", "serve"]
  podLabels: {}
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: contour
    hosts:
      - host: spicedb.example.com
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                port:
                  number: 80
