image:
  # [required] repository where meteor Docker image is available
  repository: odpf/meteor
  tag: latest
  pullPolicy: IfNotPresent
labels: {"application":"meteor"}

# sample recipe usage
# recipes:
#   sample-recipe.yaml: |-
#     name: sample-recipe
#     source:
#       type: sample
#       config:
#         foo: "bar"
#     sinks:
#       - name: console
