apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print .Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- if .Values.telegraf.enabled }}
        checksum/telegraf-config: {{ include (print $.Template.BasePath "/telegraf-configmap.yaml") . | sha256sum }}
        {{- end }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "app.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            {{- range $port := .Values.container.ports }}
            - name: {{ $port.name }}
              containerPort: {{ $port.containerPort }}
              protocol: {{ $port.protocol }}
            {{- end }}
          livenessProbe:
            {{- if .Values.container.livenessProbe.exec }}
            exec:
              {{- toYaml .Values.container.livenessProbe.exec | nindent 14 }}
            {{- else }}
            {{- toYaml .Values.container.livenessProbe | nindent 12 }}
            {{- end }}
          readinessProbe:
            {{- if .Values.container.readinessProbe.exec }}
            exec:
              {{- toYaml .Values.container.readinessProbe.exec | nindent 14 }}
            {{- else }}
            {{- toYaml .Values.container.readinessProbe | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          command:
            {{- toYaml .Values.container.command | nindent 12 }}
          args:
            {{- toYaml .Values.container.args | nindent 12 }}
          volumeMounts:
            {{- toYaml .Values.container.volumeMounts | nindent 12 }}
          envFrom:
            - configMapRef:
                name: "{{ include "app.fullname" . }}"
         {{- if .Values.secretConfig }}
            - secretRef:
                name: "{{ template "app.fullname" . }}-secret"
         {{- end }}
        {{- if .Values.otelcollector.enabled }}
        - name: otel-collector-sidecar
          image: {{ .Values.otelcollector.image }}
          command:
            - "--config=/etc/otelcollector/config.yaml"
          imagePullPolicy: IfNotPresent
          ports:
          - containerPort: 1888
            name: pprof
            protocol: TCP
          - containerPort: 8888
            name: prometheusself
            protocol: TCP
          - containerPort: 8889
            name: prometheus
            protocol: TCP
          - containerPort: 13133
            name: healthcheck
            protocol: TCP
          - containerPort: 4317
            name: otlpgrpcrecv
            protocol: TCP
          - containerPort: 4318
            name: otlphttprecv
            protocol: TCP
          - containerPort: 55679
            name: zpages
            protocol: TCP
          volumeMounts:
            - name: otelcollector-conf
              mountPath: /etc/otelcollector/
        {{- end }}
        {{- if .Values.telegraf.enabled }}
        - name: telegraf-sidecar
          image: {{ .Values.telegraf.image }}
          args:
            {{- range .Values.telegraf.args }}
            - {{ . }}
            {{- end }}
          command:
            {{- range .Values.telegraf.command }}
            - {{ . }}
            {{- end }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ .Values.telegraf.containerPort }}
              name: http
              protocol: {{ .Values.telegraf.protocol }}
          volumeMounts:
            - name: telegraf-conf
              mountPath: /etc/telegraf/
        {{- end }}
      volumes:
        {{- range $volume := .Values.volumes }}
        - {{- toYaml $volume | nindent 12 }}
        {{- end }}
        {{- if .Values.telegraf.enabled }}
        - name: telegraf-conf
          configMap:
            name: {{ template "app.fullname" . }}-telegraf
        {{- end }}
        {{- if .Values.otelcollector.enabled }}
        - name: otelcollector-conf
          configMap:
            name: {{ template "app.fullname" . }}-otelcollector
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
